/* Responsive Images */
img {
  max-width: 105%;
  height: auto;
  margin-top: 0;
  margin-left: -1em;
  margin-right: -1em; }

.logo {
  max-width: 30%; }

.hero {
  max-width: 105%;
  margin-bottom: 0; }

.collector {
  max-width: 50%; }

/* Site Header */
.site-header {
  padding: 1em;
  color: #da8b37;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.site-id {
  display: inline-block; }

body {
  background-color: #29337c;
  color: rgba(255, 255, 255, 0.89); }

h1 {
  font-family: "itc-avant-garde-gothic-pro", Roboto, Helvetica, sans-serif; }

h2 {
  font-family: "itc-avant-garde-gothic-pro", Roboto, Helvetica, sans-serif;
  font-size: 6em;
  margin-top: auto;
  margin-bottom: auto; }

.site-nav {
  display: inline-block;
  font-family: "itc-avant-garde-gothic-pro", Roboto, Helvetica, sans-serif; }
  .site-nav ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

p {
  font-family: "utopia-std", georgia, serif;
  font-size: 1.5em;
  max-width: 60%; }

a {
  display: block;
  padding: 1em;
  color: #da8b37;
  text-decoration: none; }

/* Layout Section */
@media (min-width: 768px) {
  .split-crossed-left .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .split-crossed-left .image-block {
    width: 105%; }
  .split-crossed-left .text-block {
    position: absolute;
    margin-left: 50%; } }

@media (min-width: 768px) {
  .split-crossed-reversed .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
  .split-crossed-reversed .image-block {
    width: 105%; }
  .split-crossed-reversed .text-block {
    width: 50%;
    -webkit-transform: translateX(2em);
    -ms-transform: translateX(2em);
    transform: translateX(2em); } }
