/* Responsive Images */
.logo {
  max-width: 50%; }

.img-hero {
  max-width: 100%;
  display: block; }

.cat {
  max-width: 80%; }

#process .image-block {
  position: relative; }

.collector {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 150%; }

#coffee .image-block img {
  margin-left: -10em; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font-size: 87.5%;
  margin: 0; }

@media (min-width: 768px) {
  body {
    font-size: 100%; } }

/* Grid */
.row .column {
  margin-bottom: 2%; }

@media (min-width: 768px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: -1%;
    margin-right: -1%; }
    .row.swap {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; }
    .row.center {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .row .column {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      margin: 1%; }
      .row .column.one-half {
        width: 48%; }
      .row .column.one-third {
        width: 31.3333%; }
      .row .column.two-thirds {
        width: 64.6666%; }
      .row .column.one-fourth {
        width: 23%; } }

/* Site Header */
.site-header {
  padding: 1em;
  color: #f79b6f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.site-id {
  text-align: center; }

.site-id h1 a {
  display: inline-block; }

@media (min-width: 768px) {
  .site-id {
    float: left; } }

.site-nav ul {
  text-align: center; }

.site-nav ul li {
  display: inline-block; }

.site-nav ul li a {
  display: block;
  color: #efeb9b; }

body {
  background-color: #29337c;
  color: rgba(255, 255, 255, 0.89); }

h1 {
  font-family: "itc-avant-garde-gothic-pro", Roboto, Helvetica, sans-serif; }

h2 {
  font-family: "itc-avant-garde-gothic-pro", Roboto, Helvetica, sans-serif;
  font-size: 6em;
  margin-top: auto;
  margin-bottom: auto; }

blockquote {
  font-family: "utopia-std", georgia, serif;
  font-size: 3em;
  font-weight: 700;
  margin: auto; }

.site-nav {
  display: inline-block;
  font-family: "itc-avant-garde-gothic-pro", Roboto, Helvetica, sans-serif; }
  .site-nav ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

p {
  font-family: "utopia-std", georgia, serif;
  font-size: 1.5em;
  max-width: 60%; }

a {
  display: block;
  padding: 1em;
  color: #f79b6f;
  text-decoration: none; }

/* Layout Section */
section {
  place-items: center; }

@media (min-width: 768px) {
  .split-crossed-left .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .split-crossed-left .image-block {
    width: 100%; }
  .split-crossed-left .text-block {
    position: absolute;
    margin-left: 50%;
    -webkit-transform: translateX(-2em);
    -ms-transform: translateX(-2em);
    transform: translateX(-2em); } }

@media (min-width: 768px) {
  .split-crossed-reversed .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
  .split-crossed-reversed .image-block {
    width: 100%; }
  .split-crossed-reversed .text-block {
    width: 50%;
    margin-left: 30%;
    -webkit-transform: translateX(-2em);
    -ms-transform: translateX(-2em);
    transform: translateX(-2em); } }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

#feedback-page {
  text-align: center; }

#form-main {
  width: 100%;
  float: left;
  padding-top: 0px; }

#form-div {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 35px;
  padding-bottom: 50px;
  width: 450px;
  float: left;
  left: 50%;
  position: absolute;
  margin-top: 30px;
  margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px; }

.feedback-input {
  color: #29337c;
  font-family: "utopia-std", georgia, serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 0px 0px 10px 10px;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 4px;
  margin-bottom: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.feedback-input:focus {
  background: #fff;
  -webkit-box-shadow: 0;
  box-shadow: 0;
  border: 3px solid #f79b6f;
  color: #29337c;
  outline: none;
  padding: 13px 13px 13px 54px; }

.focused {
  color: #30aed6;
  border: #30aed6 solid 3px; }

textarea {
  width: 100%;
  height: 150px;
  line-height: 150%;
  resize: vertical; }

input:hover, textarea:hover,
input:focus, textarea:focus {
  background-color: white; }

#button-yellow {
  font-family: "itc-avant-garde-gothic-pro", Roboto, Helvetica, sans-serif;
  background-color: #f79b6f;
  border-radius: 0px 0px 10px 10px;
  float: left;
  width: 100%;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 22px;
  padding-bottom: 22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700; }

#button-yellow:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #29337c; }

.submit:hover {
  color: #2c8ccc; }

.ease {
  width: 0px;
  height: 74px;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -ms-transition: .3s ease;
  transition: .3s ease; }

.submit:hover .ease {
  width: 100%;
  background-color: #efeb9b; }

@media only screen and (max-width: 580px) {
  #form-div {
    left: 3%;
    margin-right: 3%;
    width: 88%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%; } }

/* SCROLL TRIGGERED ANIMATION */
[data-scroll] {
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s; }

[data-scroll="in"] {
  opacity: 1; }

[data-scroll="out"] {
  opacity: 0; }

[data-scroll].split-crossed-left .image-block,
[data-scroll].split-crossed-left .text-block {
  -webkit-transition: 1s ease-out transform;
  -o-transition: 1s ease-out transform;
  transition: 1s ease-out transform; }

[data-scroll="in"].split-crossed-left .image-block {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }

[data-scroll="in"].split-crossed-left .text-block {
  -webkit-transform: translateX(-2em);
  -ms-transform: translateX(-2em);
  transform: translateX(-2em); }

[data-scroll="out"].split-crossed-left .image-block {
  -webkit-transform: translateX(-2em);
  -ms-transform: translateX(-2em);
  transform: translateX(-2em); }

[data-scroll="out"].split-crossed-left .text-block {
  -webkit-transform: translateX(-5em);
  -ms-transform: translateX(-5em);
  transform: translateX(-5em); }

[data-scroll].split-crossed-reversed .image-block,
[data-scroll].split-crossed-reversed .text-block {
  -webkit-transition: 1s ease-out transform;
  -o-transition: 1s ease-out transform;
  transition: 1s ease-out transform; }

[data-scroll="in"].split-crossed-reversed .image-block {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }

[data-scroll="in"].split-crossed-reversed .text-block {
  -webkit-transform: translateX(2em);
  -ms-transform: translateX(2em);
  transform: translateX(2em); }

[data-scroll="out"].split-crossed-reversed .image-block {
  -webkit-transform: translateX(2em);
  -ms-transform: translateX(2em);
  transform: translateX(2em); }

[data-scroll="out"].split-crossed-reversed .text-block {
  -webkit-transform: translateX(5em);
  -ms-transform: translateX(5em);
  transform: translateX(5em); }

.hero .container {
  margin-bottom: -2px; }

.hero .img-hero {
  display: block;
  border-bottom: 10px solid #5e7875; }

#story .image-block {
  margin-top: -2px; }

#process {
  padding-bottom: 5em; }
