// VARIABLES
$heading-fontfamily: 'itc-avant-garde-gothic-pro', Roboto, Helvetica, sans-serif;
$body-fontfamily: 'utopia-std', georgia, serif;

// COLORS
$color-site-id:rgba(255, 157, 108, 1);
$color-text-body: rgba(255, 255, 255, 0.89);
$color-background-body: rgba(41, 51, 124, 1);
$color-midgrey: rgba (0,0,0,.5);
// $color-links: rgb(218, 139, 55);
$color-links-dark: rgb(236, 195, 144);
$color-links: rgb(247, 155, 111);


// BREAKPOINTS
$breakpoint-small: 768px;
$breakpoint-medium: 1050px;
$breakpoint-large: 1250px;


// IMPORT PARTIALS
@import 'partials/toc';
@import 'partials/typography';
@import 'partials/buttons';
@import 'partials/media';
@import 'partials/layout';
@import 'partials/grid';
@import 'partials/structure';