/* Responsive Images */
img {
    max-width: 100%;
    height: auto;
    margin-top: 0;

  }

  .logo {
    max-width: 50%;
  }

  .img-hero {
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .cat {
    max-width: 50%;
    transform: translateZ(2em);
    transform: translateX(-12em);
  }
