/* Responsive Images */
// img {
//     max-width: 100%;
//     height: auto;
//     margin-top: 0;

//   }

  .logo {
    max-width: 50%;
  }

  .img-hero {
    max-width: 100%;
    display: block;
  }

  .cat {
    max-width: 80%;
 
  }

  

  // .blob {
  //   max-width: 50%;
  //   margin: 0;
  // }

 
#process .image-block{
  position: relative;
}
  .moonscape {
    // transform: translateZ(10em);
    // transform: translateX(-10em);
  }

  .collector {
    // max-width: 100%;
    // transform: translateZ(-10em);
    // transform: translateY(-30em);
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 150%;
    // z-index: 200;
  }

  #coffee .image-block img{
    margin-left: -10em;
  }