/* Responsive Images */
img {
    max-width: 105%;
    height: auto;
    margin-top: 0;
    margin-left: -1em;
    margin-right: -1em;
  }

  .logo {
    max-width: 5%;
  }

  .hero {
    max-width: 105%;
    margin-bottom: 0;
  }

  .cat {
    max-width: 50%;
  }