/* Site Header */
 
.site-header {
padding: 1em;
color: $color-links;
display: inline-block;
justify-content: space-between;
}


.site-id {
    text-align: center; }
      .site-id h1 a {
        display: inline-block; }
    @media (min-width: 768px) {
      .site-id {
        float: left; } }


.site-nav ul {

    text-align: center; 
}
    .site-nav ul li {
      display: inline-block; }
      .site-nav ul li a {
        display: block; 
    }

 section {
     margin: 10;
 }

body {
    background-color: $color-background-body;
    color: $color-text-body;
}

h1 {
    font-family: $heading-fontfamily;
}

h2 {
    font-family: $heading-fontfamily;
    font-size: 6em;
    margin-top:auto;
    margin-bottom: auto;
}

h3 {
    font-family: $heading-fontfamily;
    font-size: 2em;
    margin-top:auto;
    margin-bottom: auto;
}

.site-nav {
    display: inline-block;
    font-family: $heading-fontfamily;

    ul{
        list-style: none;
        display: flex;
    }
}


p {
    font-family: $body-fontfamily;
    font-size:1.5em;
    max-width: 60%;
}

a {
    display: block;
    padding: 1em;
    color: $color-links;
    text-decoration: none;

}

/* Layout Section */

.split-crossed-left {
    @media (min-width: $breakpoint-small) {
    .container {
        display: flex;
        align-items: center;
    }

    .image-block {
        width: 105%;
    }

    .text-block {
        position: absolute;
        margin-left: 50%;
        // transform: translateX(-2em);
    }
    }
}

.split-crossed-reversed {
    @media (min-width: $breakpoint-small) {
        .container {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
        }

        .image-block {
            width: 105%;
        }

        .text-block {
            width: 50%;
            transform: translateX(2em);
        }
    }
}

.mooncat-moon {
    position: relative;
}
.circle {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: $color-links;
    position: absolute;
    
  }